In [ ]:
import seaborn as sns
import pandas as pd

In [ ]:
df = pd.read_csv('Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [ ]:
### Amostragem Aleatória Simples

In [ ]:
#utilizando random
import random
indices = random.sample(range(0,149),10)
indices

[42, 82, 138, 28, 15, 66, 69, 26, 85, 5]

In [ ]:
amostra_random = df.iloc[indices]
amostra_random

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
42,43,4.4,3.2,1.3,0.2,Iris-setosa
82,83,5.8,2.7,3.9,1.2,Iris-versicolor
138,139,6.0,3.0,4.8,1.8,Iris-virginica
28,29,5.2,3.4,1.4,0.2,Iris-setosa
15,16,5.7,4.4,1.5,0.4,Iris-setosa
66,67,5.6,3.0,4.5,1.5,Iris-versicolor
69,70,5.6,2.5,3.9,1.1,Iris-versicolor
26,27,5.0,3.4,1.6,0.4,Iris-setosa
85,86,6.0,3.4,4.5,1.6,Iris-versicolor
5,6,5.4,3.9,1.7,0.4,Iris-setosa

In [ ]:
amostra_random['Species'].value_counts()

Iris-setosa        5
Iris-versicolor    4
Iris-virginica     1
Name: Species, dtype: int64

In [ ]:
#Utilizando Numpy
import numpy as np
indices_np = np.random.choice(range(0,149),10, replace =False)
indices_np

array([ 63, 105,  54,   6,  90, 141,  33,   2,  20,  57])

In [ ]:
amostra_np = df.iloc[indices_np]
amostra_np

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
63,64,6.1,2.9,4.7,1.4,Iris-versicolor
105,106,7.6,3.0,6.6,2.1,Iris-virginica
54,55,6.5,2.8,4.6,1.5,Iris-versicolor
6,7,4.6,3.4,1.4,0.3,Iris-setosa
90,91,5.5,2.6,4.4,1.2,Iris-versicolor
141,142,6.9,3.1,5.1,2.3,Iris-virginica
33,34,5.5,4.2,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
20,21,5.4,3.4,1.7,0.2,Iris-setosa
57,58,4.9,2.4,3.3,1.0,Iris-versicolor

In [ ]:
amostra_np['Species'].value_counts()

Iris-versicolor    4
Iris-setosa        4
Iris-virginica     2
Name: Species, dtype: int64

In [ ]:
#Utilizando pandas
amostra_pd = df.sample(n=10)
amostra_pd

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
129,130,7.2,3.0,5.8,1.6,Iris-virginica
33,34,5.5,4.2,1.4,0.2,Iris-setosa
102,103,7.1,3.0,5.9,2.1,Iris-virginica
119,120,6.0,2.2,5.0,1.5,Iris-virginica
16,17,5.4,3.9,1.3,0.4,Iris-setosa
48,49,5.3,3.7,1.5,0.2,Iris-setosa
107,108,7.3,2.9,6.3,1.8,Iris-virginica
69,70,5.6,2.5,3.9,1.1,Iris-versicolor
104,105,6.5,3.0,5.8,2.2,Iris-virginica
58,59,6.6,2.9,4.6,1.3,Iris-versicolor

In [ ]:
amostra_pd['Species'].value_counts()

Iris-virginica     5
Iris-setosa        3
Iris-versicolor    2
Name: Species, dtype: int64

In [ ]:
### Amostragem estratificada

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
_,amostra_sklearn = train_test_split(df, 
                                     stratify= df['Species'],
                                     test_size=0.10)

In [ ]:
amostra_sklearn['Species'].value_counts()

Iris-versicolor    5
Iris-setosa        5
Iris-virginica     5
Name: Species, dtype: int64

In [ ]:
### Amostragem sistemática 
k = 150/10
indices = np.arange(0,149,k)
indices

array([  0.,  15.,  30.,  45.,  60.,  75.,  90., 105., 120., 135.])

In [ ]:
amostra_sistematica = df.iloc[indices]
amostra_sistematica['Species'].value_counts()

Iris-setosa        4
Iris-versicolor    3
Iris-virginica     3
Name: Species, dtype: int64